<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Admin Layout</title>
    <!-- Có thể bổ sung Bootstrap nếu cần -->
    <!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> -->
</head>
<body>
<header class="row">
    <div class="col">
        <span th:text="#{iotstar.message.hello}"></span>
        <a href="?language=en">English</a> |
        <a href="?language=vi_VN">Viet Nam</a>
        <!-- Tuỳ chọn include fragment nếu có file -->
        <!-- <div th:replace="~{admin/fragments/header :: header}"></div> -->
    </div>
</header>
<main class="container">
    <section class="row mt-4">
        <div class="col mt-5 mb-5">
            <div layout:fragment="content"></div>
        </div>
    </section>
</main>
<footer class="row">
    <div class="col">
        <!-- <div th:replace="~{admin/fragments/footer :: footer}"></div> -->
    </div>
</footer>
</body>
</html>